/* styles for AIA tables */

table {
    background-color: white;
    border-collapse: collapse;
    border: 1px solid #000;
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}


caption {
    
    font-size: 1.75em;
    padding-bottom: .5em
}

table.audience { 
    background-color: #EAF2F8;
    margin: 40px auto;
    width: 90%;
}

table.client { 
    background-color: #EAF2F8;
    width: 70%;
    margin: 40px auto;
}


table.client td {
    width: 50%;
}


table.audience th {
    font-size: 1.25em;
    width: 33.33%;
}

/* 
tr {
    vertical-align: top;
}
*/


td, th {
    border: 1px solid black;
    padding: .5em;
}

