@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');

html {
    background-color: #F9EFFE ;
    font-family: 'Questrial', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

main.wrapper {
    background-color: white;
    overflow: auto;
    margin:auto;
}

h1 {
    font-family: 'Reem kufi', sans-serif;
    text-align: center;
    font-size: 2.5em;
    line-height: 1em;
}

h2 {
    text-align: center;
    font-size: 1.5em;
}

a {
    color:#9462B2;
    text-decoration: none;
}
 
a:hover {
    color: white;
    background-color: #9462B2;
    text-decoration: none;
}

dt {
   font-weight: bold;
}

dl {
    margin: 10px
}

p {
    margin: 10px 10px 20px;
}

p.items {
    text-align: center;
}

.fb-page {
  margin-left: auto;
  margin-right: auto;
} 

div.gallery {
    text-align: center;
}

figure {
    display: inline-block;
}

/* START MAIN PAGE IMAGE WITH LINK TO GALLERY*/
.container {
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 10PX;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text a{
  background-color: #9462B2;
  color: white;
  font-size: 1em;
  padding: .5em;
}
/*END MAIN PAGE IMAGE WITH LINK TO GALLERY*/

footer {
    clear: both;
    text-align: center;
    padding: 1em;
}


/* Desktops and laptops ----------- */
@media all and (min-width:1100px) {
  main.wrapper {
        width: 80%;
        margin: auto;
    }
}

/* Tablets  (portrait and landscape) ----------- */
@media all and (min-width:800px) and (max-width:1099px) {
  main.wrapper {
        width: 90%;
        margin: auto;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media all and (max-width:767px) {
  main.wrapper {
        width: 100%;
    }

.container {
  position: relative;
}
    
.container .middle {
  opacity: 1;
}
.text a {
  /*position: fixed;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .75em;
  padding: 5px;
}

.image { 
  width: 100%;
  height: auto;
  opacity: 0.3;
}
}